/* Global styles come from external css http://codepen.io/GreenSock/pen/JGaKdQ*/
body {
  margin:0;
  /*overflow: hidden;*/
  background-color: #1a1a1a;
  font-family: Signika Negative, sans-serif;
  color:#989898;
  margin:0px;
  font-size:18px;
}

#start {
  /*background-color: green;*/
}




.note {
  border-radius: 7px;
  position: absolute;
  height: 100px;
  width: 20px;
  background-color: blue;
}

.bar {
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: black;
}
