* {
}

.key {
	width: 50px;
	height: 50px;
	position: absolute;
	background-color: white;
	border-color: black;
	border-style: solid;
  border-width: 1px;
}



body {
	/*background-color: #2F4F4F;*/
    background-color: #1a1a1a;
	margin: 0;
	padding: 0;
	overflow:hidden;
}

.note {
	width: 30px;
	height: 50px;
	/*transform-origin: bottom;*/
	position: absolute;
	/*display: none;*/
	border-radius: 7px;
	background-color: #33ccff;
	/*background-color: #00ff00;*/
	/*float: left;*/
	/*margin: 10px;*/
  pointer-events:none;
}
